{% extends 'base.html' %}


{% block content %}
</br>
<TABLE width="100%" class="tableau" align="center">
  <TR>
    <TD class="sond1">
        <h2>Se connecter</h2>
    </TD>
  </TR>
  <TR>
    <TD>
      <TABLE width= "100%" class="fond">
        <TR>
          <TD class="case">
            <form method="post">
              <label for="username">Nom d'utilisateur :</label>
              </br><input class="saisie" name="username" id="username" required>
              </br></br>
              <label for="password">Mot de passe :</label>
              </br><input class="saisie" type="password" name="password" id="password" required>
              </br></br>
              <input type="submit" value="Se connecter">
            </form>
          </TD>
        </TR>
      </TABLE>
    </TD>
  </TR>
</TABLE>
{% endblock %}
