html { font-family: Helvetica, sans-serif; background: #9ED8FF; padding: 10px; }
body { max-width: 1000px; margin: 0 auto;}
h1 {
  font-family: serif;
  font-size: 30px;
  color: #9ED8FF;
  margin: 2rem 0;
  text-shadow: #000000 0.5px 0.5px, #000000 -0.5px 0.5px, #000000 -0.5px -0.5px, #000000 1px -0.5px;
}
h2 { font-family:Georgia, serif; font-size: 30px; color: #01304F; }
h3  { font-family: Georgia, serif; font-size: 20px; margin: 0.5rem 0 0 0 ; font-style: italic;}

nav {
  background: #D1ECFE;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #555;
}
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }

input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em;  border-radius: 10px; background-color: #DCF4FD;}
input[type=text] {
  width: 50%;
  border-radius: 10px;
  background-color: #EBF8FE;
  height: 20px;}

a { color: #377ba8; }

.tableau {
  background : #D1ECFE;
  padding :0 1rem 1rem 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #555;
}
.sond_indiv {
  background : #79CDD2;
  border-radius: 20px;
  border:1px solid #048F8D;
}

.sond_final {
  background: #F2F216;
  border-radius: 20px;
  border:1px solid #048F8D;
}

.sond1 {padding: 0 0 0 1rem; }
.petit{font-size: 10px;}
.moyen {font-size: 15px;}
.caracteristiques{padding-left: 1.8rem;}
.fond {
  padding-left: 0.8rem;
  background : #79CDD2;
  border-radius: 15px;
  border:1px solid #048F8D;
}
.saisie {width: 95%; background-color: #EBF8FE;}
.case {padding: 1rem}
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #FF0000; color: #FF0000;}
.final {
  font-size: 14px;
  color: #F21616;
}
